<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Project</title>
</head>
<body>


<div class="container"></div>

  <h1>
    Nowy Projekt
  </h1>

<div>
  <a th:href="@{/projects/create}" class="btn btn-secondary">NOWY PROJEKT</a>
  </div>


  <span> SPAN1</span>
  <span th:text="${test}"></span>


<div>
  

  <table>
    <head>
      <tr>
        <td>
          Kod
        </td>
        <td>
          Nazwa
        </td>
      </tr>
        <title></title>

    </head>

    <body>
    <tr th:each="project:${projects}">
      <td th:text="${project.code}"/>
      <td th:text="${project.name}"/>


    </tr>

    </body>

  </table>

  <div th:replace="/fragments/footer.html :: footer"></div>

</div>
</body>
</html>